.blog{
  margin: 0  auto;
  width: 60%;
  margin-bottom: 20px;
}
.blog h1{
  margin: 20px 0;
  text-align: center;
}
.blog p{
  margin: 20px 0;
  line-height: 1.7;
}
.blog img{
  margin: 0 auto;
  display: block;
}
.images img{
  width: 200px;
}
.blog a{
  color: #29db12;
}
.blog a:hover{
  text-decoration: underline;
}
@media (max-width: 768px) {
  .blog{
    width: 80%;
  }
}